<div class="form-group">
    <label>
        Date
        <div class="form-control-icon">
            <i class="fa fa-calendar mue-icon"></i>
            <input type="text" class="form-control" data-el="date" placeholder="Date"/>
        </div>
    </label>
</div>
<div class="pull-left mue-date-time-picker-time">
    <div class="form-group">
        <label>
            Start time
            <div class="form-control-icon">
                <i class="fa fa-clock-o mue-icon"></i>
                <input type="text" class="form-control" data-el="start" placeholder="Start time"/>
            </div>
        </label>
    </div>
</div>
<div class="pull-right mue-date-time-picker-time">
    <div class="form-group">
        <label>
            End time
            <div class="form-control-icon">
                <i class="fa fa-clock-o mue-icon"></i>
                <input type="text" class="form-control" data-el="end" placeholder="End time"/>
            </div>
        </label>
    </div>
</div>