<div class="list-group mue-list-group mue-list-group-lagoon">
    {{#each items}}
        <a href="#" class="list-group-item list-group-item-lagoon">
            <h4 class="list-group-item-heading">{{name}}</h4>

            <p class="mue-item-description">
                {{description}}
            </p>
        </a>
    {{/each}}
</div>