.mue-application-list {
  .mue-application-list-settings {
    display: none;
  }

  p {
    margin: 0;
  }

  .mue-application-item-open {
    .mue-application-list-settings {
      display: block;
    }
  }
}