/*Core buttons*/
.btn {
  &:focus {
    outline: none;
  }
}

.btn-lagoon {
  color: white;
  background: @lagoon;
  border-color: @lagoon;

  &:focus {
    color: white;
    background: @lagoon;
    border-color: @lagoon;
  }

  &:hover {
    color: white;
    background: rgb(15, 198, 255);
    border-color: rgb(15, 198, 255);
  }

  &:active {
    color: white;
    background: @lagoon-dark;
    border-color: @lagoon-dark;
  }

  &.btn-action {
    box-shadow: 0 4px 0 @lagoon-dark;

    &:hover {
      box-shadow: 0 3px 0 @lagoon-dark;
    }

    &:active {
      box-shadow: 0 0 0 @lagoon-dark;
    }
  }
}

.btn-strawberry {
  color: white;
  background: @strawberry;
  border-color: @strawberry;

  &:focus {
    color: white;
    background: @strawberry;
    border-color: @strawberry;
  }

  &:hover {
    color: white;
    background: rgb(255, 95, 95);
    border-color: rgb(255, 95, 95);
  }

  &:active {
    color: white;
    background: @strawberry-dark;
    border-color: @strawberry-dark;
  }

  &.btn-action {
    box-shadow: 0 4px 0 @strawberry-dark;

    &:hover {
      box-shadow: 0 3px 0 @strawberry-dark;
    }

    &:active {
      box-shadow: 0 0 0 @strawberry-dark;
    }
  }
}

.btn-banana {
  color: white;
  background: @banana;
  border-color: @banana;

  &:focus {
    color: white;
    background: @banana;
    border-color: @banana;
  }

  &:hover {
    color: white;
    background: rgb(255, 228, 151);
    border-color: rgb(255, 228, 151);
  }

  &:active {
    color: white;
    background: @banana-dark;
    border-color: @banana-dark;
  }

  &.btn-action {
    box-shadow: 0 4px 0 @banana-dark;

    &:hover {
      box-shadow: 0 3px 0 @banana-dark;
    }

    &:active {
      box-shadow: 0 0 0 @banana-dark;
    }
  }
}

.btn-bruise {
  color: white;
  background: @bruise;
  border-color: @bruise;

 &:focus {
    color: white;
    background: @bruise;
    border-color: @bruise;
  }

  &:hover {
    color: white;
    background: #B99CE7;
    border-color: #B99CE7;
  }

  &:active {
    color: white;
    background: @bruise-dark;
    border-color: @bruise-dark;
  }

  &.btn-action {
    box-shadow: 0 4px 0 @bruise-dark;

    &:hover {
      box-shadow: 0 3px 0 @bruise-dark;
    }

    &:active {
      box-shadow: 0 0 0 @bruise-dark;
    }
  }
}