body {
  font-family: 'Roboto', sans-serif;
  background: @surf;
  font-size: @main-font;
}

.mue-info {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 0 5px;

  .mue-icon {
    font-size: 18px;
    color: @bruise;
  }

  &:hover {
    .mue-info-description {
      display: block;
    }
  }

  .mue-info-description {
    display: none;
    position: absolute;
    width: 220px;
    padding: 10px;
    color: @eight;
    font-weight: 400;
    z-index: 100;
    top: 0;
    left: 20px;
  }
}