.form-group {
  &.mue-group-error {
    .form-control {
      border-color: @strawberry;
    }
  }

  &.mue-group-warning {
    .form-control {
      border-color: @banana;
    }
  }

  &.mue-group-success {
    .form-control {
      border-color: @cove;
    }
  }
}

.form-control {
  outline: none;

  border: 1px solid @coral;
  color: @gunpowder;

  &:hover {
    border-color: @cutlass;
  }

  &:focus {
    border-color: @lagoon;
    box-shadow: none;
  }

  &.mue-control-coral {
    background: @coral;
    color: @gunpowder;

    &:hover {
      background: @surf;
    }

    &:focus {
      background: white;
    }
  }
}