.keyframes(rightToLeft, { 0% {
  transform: translate3d(5px, 0px, 0px);
} 100% {
    transform: translate3d(0px, 0px, 0px);
  } });

.keyframes(bottomToTop, { 0% {
  transform: translate3d(0px, 5px, 0px);
} 100% {
    transform: translate3d(0px, 0px, 0px);
  } });