.mue-pills {
  li {
    &:hover {
      a {
        background-color: @surf;
      }
    }
  }

  li.active {
    a {
      background-color: @lagoon;
    }

    &:hover {
      a {
        background-color: @lagoon;
      }
    }
  }
}